.join__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}

.join__container > form {
  width: 50%;
  display: flex;
  flex-direction: column;
}
